body {
    background-color:lightpink;
}
.Edit-style{
    background-color:rgb(59,119,207);
   
    border-radius:20px

}
.Delete-style {
    background-color: indianred;
    border-radius: 20px
}
a {
    color: black;
    
}

main.pb-3 {
    width: 70vw;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    width: 5vw;
    color: white;
}
    .form-control {
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

form {
    display: flex;
    padding: inherit;
}
.form-control {
    display: block;
    width: 90%;
    margin-right: 106px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}