body {
    background-color: wheat;
}

.Edit-style {
    background-color: rgb(59,119,207);
    border-radius: 20px
}

.Delete-style {
    background-color: indianred;
    border-radius: 20px
}

input[type="submit"] {
    background-color: black;
    color: white
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor:grab;
    width: 5vw;
    color: white;
}

a {
    color:black;
}
.description-cell {
    max-width: 100px; /* Set the desired maximum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*main.pb-3 {
    width: 80vw;
}
.col-sm-12 {
    margin-left: -6vw;
}*/